.container {
  position: relative;
  height: 300px;
  textarea {
    position: absolute;
    color: transparent;
    background-color: transparent; 
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
    overflow: visible;
    box-sizing: content-box;
    text-align: left;
    font-family: initial;
    font-size: initial;
    line-height: normal;
  }
  .output {
    position: absolute;
  }
}
